.header {
  padding: 1rem 0 3rem;
}
.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.nav-item {
  color: rgb(107, 153, 252);
  margin-right: 1.3rem;
  font-size: 0.9rem;
  text-decoration: none;
}
.nav-item:hover {
  color: rgb(41, 82, 172);
}
.active-nav-item {
  color: rgb(40, 80, 165);
}
